.word{
  font-weight: bolder;
  color:lightskyblue;
  font-size: 36px;
}

.Learning_Form {
  display:flex;
  flex-direction: column;
  background-color: #666;
  border-radius: 25px;
  padding: 25px;
  max-width: 450px;
  margin: auto;
}

.Learning_Form label {
  margin-bottom: 10px;
}

.Learning_Form input {
  margin-bottom: 10px;
  background-color: lightskyblue;
}

.Learning_Form button{
  margin: auto;
  background-color: lightskyblue;
}