.words_container{
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

li {
  list-style: none;
  background-color: #666;
  box-shadow: 5px 5px 8px white, 10px 10px 8px rgb(86, 131, 189);
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}